﻿@model WebTest2.Models.Entity.Accounts

<div class="text-center">
<h2 >Login</h2>

<form asp-controller="Login" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Account"></label>
        <input asp-for="Account" class="form-control" />
        <span asp-validation-for="Account" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>密碼</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>